.header{
  font-size: 22px;
  text-align:  center;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;

}
.app{
  margin: auto;
  width: 450px;
}

.form{
  display: flex;
}
.form input{
  flex: 1;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-left: 15px;
}
.form button{
  background-color: #634bf5;
  color: #fff;
  padding: 15px 30px;
  border: none;
  margin-left: 15px;
  border-radius: 3px;
}
.todos{}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.favorite{
  padding: 0 15px;
}
.favorite button{
  border: none;
  background-color: transparent;
  font-size: 33px;
  cursor: pointer;
  padding: 7px;
}

.todo-text{
  flex: 1;
}
.selected{
  background-color: #fff6d6;
}
.selected .favorite button{
  color: #ffd231;
  border: none;
}
.actions{
  padding-right: 15px;
}
.actions button{
  color: red;
  background-color: transparent;
  border:  none;
  cursor: pointer;
  padding: 7px;
  font-size: 22px;
} 